html, body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(250, 246, 246);
}

.Grid {
  position: absolute;
  width: 40%; 
  height: 80%;
  border: 10px solid rgb(0, 0, 0);
 border-left: 0px;
  border-right: 0px;
  
  top: 10%;
  left: 10%;
  display: grid;
  grid-template-columns: 10% 30% 10% 50%;
  grid-template-rows: 30% 10% 45% 15%;
 
}

.item {
  border: 10px solid black;
}

.item.leftBorder {
  border-left: 0px;
}

.item.rightBorder {
  border-right: 0px;
}



.item.row0col0 {
  background-color: #f8f6f5;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  

}
.item.row0col1 {
  background-color: #db2d12;
  grid-column: 2 / 4;
  grid-row: 1 / 2;

}
.item.row0col2 {
  background-color: #f6f3f3;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}


.item.row1col3{
  background-color: #db1a1a;
}


.item.row2col0{
  background-color: #2704ed;
}

.item.row2col2{
  background-color: #d4c30c;
}

.item.row3col3{
  background-color: #360ad8;
}

